<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>496572323092-9clsf1kncvto4buio36r1gv5h890imbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496572323092-9clsf1kncvto4buio36r1gv5h890imbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAe5LH1gs205ZNDqfa0HoHFmBt81szmDo4</string>
	<key>GCM_SENDER_ID</key>
	<string>496572323092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yangz405.FBProfile</string>
	<key>PROJECT_ID</key>
	<string>fblogin-7f2fc</string>
	<key>STORAGE_BUCKET</key>
	<string>fblogin-7f2fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496572323092:ios:d228328a2705f385</string>
	<key>DATABASE_URL</key>
	<string>https://fblogin-7f2fc.firebaseio.com</string>
</dict>
</plist>